/*
Project Name: Blank Template
Client: Your Client
Author: Your Name
Developer @GA in NYC
*/


/******************************************
/* SETUP
/*******************************************/

/* Box Model Hack */
* {
     -moz-box-sizing: border-box; /* Firexfox */
     -webkit-box-sizing: border-box; /* Safari/Chrome/iOS/Android */
     box-sizing: border-box; /* IE */
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
  clear: both;
}

.alignright {
  float: right;
  padding: 0 0 10px 10px; /* note the padding around a right floated image */
}

.alignleft {
  float: left;
  padding: 0 10px 10px 0; /* note the padding around a left floated image */
}

/******************************************
/* BASE STYLES
/*******************************************/

div.container1 {
     color: #000;
     font-size: 12px;
     line-height: 1.4;
     font-family: Helvetica, Arial, sans-serif;
     background: url(../images/header_bg.jpg) no-repeat center top rgb(134,141,157);
      background-size: cover;
}

div.container2 {
    background-color: #f0efef
   
}

div.container3 {
    background: url(../images/testimonial_bg.jpg) no-repeat center top rgb(134,141,157);
    background-size: cover;

}

div.container4 {
  background-color: #f9e42e;

}

div.container5 {
background-color: #121212;

}

/******************************************
/* LAYOUT
/*******************************************/

/* Center the container */
#container {
  width: 100%;
  margin: auto;
  height: 500px;
  font-family: 'Open Sans', sans-serif;

}

header {

}

footer {

}

/******************************************
/* ADDITIONAL STYLES
/*******************************************/


h1.container1{

  font-size: 24px;
  font-family: 'Open Sans', sans-serif;
  color: white


}

h2.container2 {

  font-size: 24px;
  font-family: 'Open Sans', sans-serif;
  color: white;
  align-content: center;
}


button.container1 {

  border: 5px;
  font-family: 'Open Sans', sans-serif;
  align-content: center;
  font-size: 14px;
  color: #f9e42e;
}

.container2 {
  background-color: #f0efef

}


h1.container2 {
 font-size: 20px
 color: #033048;

}

p.container2  {
  font-size: 13px
  color: #606161;

}

p.container3 {
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;

}

.container4 {
  background-color: #f9e42e;
  text-align: center;
  color: white;

}

button.container4 {
  background-color: #033048;
  align-content: center;

}

h1.containr5 {
  text-align: center
  color: #f9e42e;
  font-size: 24px; 

}

footer.container5 {
text-align: center;
color: white;
font-size: 9px;

}

img.container5 {
  align-content: center;

}

